page-welcome {
    #welcome{
        background: color($colors, energy)
       

    }

    h1{
        font-size: 52px;
        margin-top: 200px;
    }
    h4{
        font-family: 'Lucida Sans';
        font-size: 12px;
        font-variant-position: center;
    }
    .marginTop{
        margin-top: 150px;
    }


}
